/* VARIABLES */

@import "../../variables/variables";

.foreword-heading--vertical-spacing {
  margin-top: calc(
    set-vertical-space-2($font-size-primary, $line-height-primary) + $nav-height
  );

  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.foreword-content__text:first-of-type p:last-child {
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.foreword-content__text:last-of-type p:last-child {
  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.separator--foreword {
  margin: set-vertical-space-2($font-size-primary, $line-height-primary) 0;
}

.foreword-howto-learn__heading h2 {
  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.foreword-howto-learn h3 {
  font-style: italic;
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.foreword-howto-learn__content-block {
  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.foreword-howto-learn__pic {
  margin: 0 -3rem set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    ) -3rem;
  height: 26.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foreword-howto-learn__copybook .foreword-howto-learn__pic {
  background-image: url(/src/assets/pics/foreword/xsm/foreword-copybook-xsm-min.webp);
}

.foreword-howto-learn__oral .foreword-howto-learn__pic {
  background-image: url(/src/assets/pics/foreword/xsm/foreword-oral-xsm-min.webp);
}

.foreword-howto-learn__travel .foreword-howto-learn__pic {
  background-image: url(/src/assets/pics/foreword/xsm/foreword-travel-xsm-min.webp);
}

.foreword-writetome-block h4 {
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.foreword-writetome-block p {
  margin-bottom: set-vertical-space-3($font-size-primary, $line-height-primary);
}

/* Small Screen */

@media only screen and (min-width: 600px) {
  @import "../../variables/variables-sm";

  .foreword-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-2($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-content__text:first-of-type p:last-child {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-content__text:last-of-type p:last-child {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__heading h2 {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn h3 {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__content-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__pic {
    margin: 0 -3rem set-vertical-space-2(
        $font-size-primary,
        $line-height-primary
      ) -3rem;
    height: 44.9rem;
  }

  .foreword-howto-learn__copybook .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/sm/foreword-copybook-sm-min.webp);
  }

  .foreword-howto-learn__oral .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/sm/foreword-oral-sm-min.webp);
  }

  .foreword-howto-learn__travel .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/sm/foreword-travel-sm-min.webp);
  }

  .foreword-writetome-block h4 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-writetome-block p {
    margin-bottom: set-vertical-space-3(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Medium Screen */

@media only screen and (min-width: 900px) {
  @import "../../variables/variables-md";

  .foreword-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-4($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-3(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-content__text:first-of-type p:last-child,
  .foreword-content__text:last-of-type p:last-child {
    margin-bottom: 0;
  }

  .foreword__link-btn {
    height: 0;
  }

  .foreword__link-btn .link-btn {
    position: relative;
    bottom: 4.3rem;
  }

  .separator--foreword {
    margin: set-vertical-space-3($font-size-primary, $line-height-primary) 0
      set-vertical-space-4($font-size-primary, $line-height-primary) 0;
  }

  .foreword-howto-learn__heading h2 {
    margin: auto;
    margin-bottom: set-vertical-space-4(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__content-block {
    align-items: center;
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__pic {
    margin: 0;
    grid-row: 1 / 3;
    height: 25.7rem;
  }

  .foreword-howto-learn__copybook .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/md/foreword-copybook-md-min.webp);
  }

  .foreword-howto-learn__oral .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/md/foreword-oral-md-min.webp);
  }

  .foreword-howto-learn__travel .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/md/foreword-travel-md-min.webp);
  }

  .foreword-writetome-block h4 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-writetome-block p {
    margin-bottom: set-vertical-space-4(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Large Screen */

@media only screen and (min-width: 1200px) {
  @import "../../variables/variables-lg";

  .foreword-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-5($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-4(
      $font-size-primary,
      $line-height-primary
    );
  }
  .separator--foreword {
    margin: set-vertical-space-4($font-size-primary, $line-height-primary) 0
      set-vertical-space-5($font-size-primary, $line-height-primary) 0;
  }

  .foreword-howto-learn__heading h2 {
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__content-block {
    margin-bottom: set-vertical-space-7(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__pic {
    height: 34.8rem;
  }

  .foreword-howto-learn__copybook .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/lg/foreword-copybook-lg-min.webp);
  }

  .foreword-howto-learn__oral .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/lg/foreword-oral-lg-min.webp);
  }

  .foreword-howto-learn__travel .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/lg/foreword-travel-lg-min.webp);
  }

  .foreword-writetome-block h4 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-writetome-block p {
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Extra Large Screen */

@media only screen and (min-width: 1400px) {
  @import "../../variables/variables-xl";

  .foreword-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-5($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-4(
      $font-size-primary,
      $line-height-primary
    );
  }

  .separator--foreword {
    margin: set-vertical-space-4($font-size-primary, $line-height-primary) 0
      set-vertical-space-5($font-size-primary, $line-height-primary) 0;
  }

  .foreword-howto-learn__heading h2 {
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__content-block {
    margin-bottom: set-vertical-space-7(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__pic {
    height: 39.2rem;
  }

  .foreword-howto-learn__copybook .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/xl/foreword-copybook-xl-min.webp);
  }

  .foreword-howto-learn__oral .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/xl/foreword-oral-xl-min.webp);
  }

  .foreword-howto-learn__travel .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/xl/foreword-travel-xl-min.webp);
  }

  .foreword-writetome-block h4 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-writetome-block p {
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Extra Extra Large Screen */

@media only screen and (min-width: 1800px) {
  @import "../../variables/variables-xxl";

  .foreword-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-5($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-4(
      $font-size-primary,
      $line-height-primary
    );
  }

  .separator--foreword {
    margin: set-vertical-space-4($font-size-primary, $line-height-primary) 0
      set-vertical-space-5($font-size-primary, $line-height-primary) 0;
  }

  .foreword-howto-learn__heading h2 {
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__content-block {
    margin-bottom: set-vertical-space-7(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-howto-learn__pic {
    height: 52.6rem;
  }

  .foreword-howto-learn__copybook .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/xxl/foreword-copybook-xxl-min.webp);
  }

  .foreword-howto-learn__oral .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/xxl/foreword-oral-xxl-min.webp);
  }

  .foreword-howto-learn__travel .foreword-howto-learn__pic {
    background-image: url(/src/assets/pics/foreword/xxl/foreword-travel-xxl-min.webp);
  }

  .foreword-writetome-block h4 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .foreword-writetome-block p {
    margin-bottom: set-vertical-space-5(
      $font-size-primary,
      $line-height-primary
    );
  }
}
