/* VARIABLES */

@import "../../variables/variables";

.aboutproject-heading--vertical-spacing {
  margin-top: calc(
    set-vertical-space-2($font-size-primary, $line-height-primary) + $nav-height
  );

  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.aboutproject__text-block.aboutproject__first-block {
  align-items: center;
}

.aboutproject__text-block h3 {
  font-style: italic;
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.aboutproject__text-block {
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.aboutproject__pic {
  margin: set-vertical-space-1($font-size-primary, $line-height-primary) -3rem 0 -3rem;
  height: 58.9rem;
  background-image: url(/src/assets/pics/aboutproject/xsm/aboutproject-xsm-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutproject__date-block {
  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.aboutproject__date {
  display: flex;
  justify-content: end;
}

/* Small Screen */

@media only screen and (min-width: 600px) {
  @import "../../variables/variables-sm";

  .aboutproject-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__pic {
    margin: set-vertical-space-1($font-size-primary, $line-height-primary) -3rem
      set-vertical-space-2($font-size-primary, $line-height-primary) -3rem;
    height: 57.7rem;
    background-image: url(/src/assets/pics/aboutproject/sm/aboutproject-sm-min.webp);
  }

  .aboutproject__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Medium Screen */

@media only screen and (min-width: 900px) {
  @import "../../variables/variables-md";

  .aboutproject-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__pic {
    margin: 0;
    height: 61.9rem;
    background-image: url(/src/assets/pics/aboutproject/md/aboutproject-md-min.webp);
  }

  .aboutproject__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Large Screen */

@media only screen and (min-width: 1200px) {
  @import "../../variables/variables-lg";

  .aboutproject-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__pic {
    height: 61.9rem;
    background-image: url(/src/assets/pics/aboutproject/lg/aboutproject-lg-min.webp);
  }

  .aboutproject__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Extra Large Screen */

@media only screen and (min-width: 1400px) {
  @import "../../variables/variables-xl";

  .aboutproject-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__pic {
    height: 69.9rem;
    background-image: url(/src/assets/pics/aboutproject/xl/aboutproject-xl-min.webp);
  }

  .aboutproject__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Extra Extra Large Screen */

@media only screen and (min-width: 1800px) {
  @import "../../variables/variables-xxl";

  .aboutproject-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-2($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block h3 {
    margin-bottom: set-vertical-space-(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutproject__pic {
    height: 69.6rem;
    background-image: url(/src/assets/pics/aboutproject/xxl/aboutproject-xxl-min.webp);
  }

  .aboutproject__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}
