/* VARIABLES */

@import "../../variables/variables";

.aboutme-heading--vertical-spacing {
  margin-top: calc(
    set-vertical-space-2($font-size-primary, $line-height-primary) + $nav-height
  );

  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.aboutme__text-block.aboutme__first-block {
  align-items: center;
}

.aboutme__text-block h3 {
  font-style: italic;
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.aboutme__text-block {
  margin-bottom: set-vertical-space-1($font-size-primary, $line-height-primary);
}

.aboutme__pic {
  margin: set-vertical-space-1($font-size-primary, $line-height-primary) -3rem 0 -3rem;
  height: 58.9rem;
  background-image: url(/src/assets/pics/aboutme/xsm/aboutme-xsm-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutme__date-block {
  margin-bottom: set-vertical-space-2($font-size-primary, $line-height-primary);
}

.aboutme__date {
  display: flex;
  justify-content: end;
}

/* Small Screen */

@media only screen and (min-width: 600px) {
  @import "../../variables/variables-sm";

  .aboutme-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__text-block {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__pic {
    margin: set-vertical-space-1($font-size-primary, $line-height-primary) -3rem
      set-vertical-space-2($font-size-primary, $line-height-primary) -3rem;
    height: 57.7rem;
    background-image: url(/src/assets/pics/aboutme/sm/aboutme-sm-min.webp);
  }

  .aboutme__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Medium Screen */

@media only screen and (min-width: 900px) {
  @import "../../variables/variables-md";

  .aboutme-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: 0;
  }

  .aboutme__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__pic {
    margin: 0;
    height: 61.9rem;
    background-image: url(/src/assets/pics/aboutme/md/aboutme-md-min.webp);
  }

  .aboutme__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Large Screen */

@media only screen and (min-width: 1200px) {
  @import "../../variables/variables-lg";

  .aboutme-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: 0;
  }

  .aboutme__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__pic {
    height: 61.9rem;
    background-image: url(/src/assets/pics/aboutme/lg/aboutme-lg-min.webp);
  }

  .aboutme__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Extra Large Screen */

@media only screen and (min-width: 1400px) {
  @import "../../variables/variables-xl";

  .aboutme-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-3($font-size-primary, $line-height-primary) +
        $nav-height
    );

    margin-bottom: 0;
  }

  .aboutme__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__pic {
    height: 69.9rem;
    background-image: url(/src/assets/pics/aboutme/xl/aboutme-xl-min.webp);
  }

  .aboutme__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}

/* Extra Extra Large Screen */

@media only screen and (min-width: 1800px) {
  @import "../../variables/variables-xxl";

  .aboutme-heading--vertical-spacing {
    margin-top: calc(
      set-vertical-space-2($font-size-primary, $line-height-primary) +
        $nav-height
    );
  }

  .aboutme__text-block h3 {
    margin-bottom: set-vertical-space-1(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__text-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }

  .aboutme__pic {
    height: 69.6rem;
    background-image: url(/src/assets/pics/aboutme/xxl/aboutme-xxl-min.webp);
  }

  .aboutme__date-block {
    margin-bottom: set-vertical-space-2(
      $font-size-primary,
      $line-height-primary
    );
  }
}
