/* VARIABLES */
/* Font Settings */
/* Standout Colors */
/* Other Colors */
/* Header */
/* MIXINS */
/* VERTICAL SPACING */
.brand-signature {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  bottom: 0;
}

.brand-signature--vertical-spacing {
  margin: 13.4rem 0 6rem 0;
}

.brand-signature__logo {
  margin: auto;
  width: 7.4rem;
  height: 7.4rem;
  background-image: url(/src/assets/svg/brand-signature-logo/brand-signature__logo-74.svg);
}

.brand-signature__tagline {
  margin-top: 0.6rem;
  color: #deb374;
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 2rem;
}

.author-intro {
  margin-bottom: 9rem;
}

.author-intro__pic {
  height: 50.9rem;
  background-image: url(/src/assets/pics/author-intro/xsm/author-intro__pic-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.author-intro__name {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 2.6rem;
}

.author-intro__author-role {
  margin-bottom: 3rem;
  font-style: italic;
}

.author-intro__name,
.author-intro__author-role {
  font-family: "Playfair Display";
  text-align: center;
}

.readmore-btn__container {
  display: flex;
  justify-content: flex-end;
}

.brand-promo__text-content {
  margin-bottom: 3rem;
}

.brand-promo .heading-h1 {
  margin-bottom: 3rem;
}

.brand-promo__video {
  position: relative;
}

.brand-promo__video-poster {
  height: 49.1rem;
  background-image: url(/src/assets/pics/brand-promo__video-poster/xsm/brand-promo__video-poster-min.webp);
}

.tutorial-section__pic {
  margin: 0 -3rem;
  background-color: #7b909c;
  grid-row: 1;
}

.tutorial-section__content {
  padding: 6rem 0;
  color: #fff;
  grid-row: 1;
}

.tutorial-section__content .heading-h2 {
  margin-bottom: 3rem;
}

.courses-section {
  margin-bottom: 6rem;
}

.courses-section__pic {
  margin: 0 -3rem 6rem -3rem;
  height: 26.2rem;
  background-image: url(/src/assets/pics/homepage-courses-section/xsm/courses-section__pic-xsm-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.courses-section__content h2 {
  text-transform: uppercase;
}

.courses-section__content .heading-h2 {
  margin-bottom: 3rem;
}

.courses-section__text {
  margin-bottom: 3rem;
}

.application-form--homepage {
  margin-bottom: 9rem;
}

.application-form__submit {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/* Small Screen */
@media only screen and (min-width: 600px) {
  /* Header */
  .brand-signature--vertical-spacing {
    margin: 15rem 0 5rem 0;
  }
  .author-intro {
    margin-bottom: 7.5rem;
  }
  .author-intro__pic {
    height: 74.4rem;
    background-image: url(/src/assets/pics/author-intro/sm/author-intro__pic-sm-min.webp);
  }
  .author-intro__name {
    margin-top: 5rem;
    font-size: 2.4rem;
  }
  .author-intro__author-role {
    margin-bottom: 2.5rem;
  }
  .brand-promo__text-content {
    margin-top: auto;
    grid-row: 1;
    z-index: 2;
    color: #fff;
    margin-bottom: 7.5rem;
  }
  .brand-promo .heading-h1 {
    max-width: 35rem;
    margin-bottom: 2.5rem;
  }
  .brand-promo__video {
    grid-row: 1;
    z-index: 1;
  }
  .brand-promo__video-poster {
    height: 36.7rem;
    background-image: url(/src/assets/pics/brand-promo__video-poster/sm/brand-promo__video-poster-sm-min.webp);
  }
  .tutorial-section__content {
    padding: 5rem 0;
  }
  .tutorial-section__content .heading-h2 {
    margin-bottom: 2.5rem;
  }
  .courses-section {
    margin-bottom: 5rem;
  }
  .courses-section__pic {
    margin: 0 -3rem 5rem -3rem;
    height: 44.8rem;
    background-image: url(/src/assets/pics/homepage-courses-section/sm/courses-section__pic-sm-min.jpg);
  }
  .courses-section__content .heading-h2 {
    max-width: 35rem;
  }
  .application-form--homepage {
    margin-bottom: 7.5rem;
  }
}
/* Medium Screen */
@media only screen and (min-width: 900px) {
  /* Header */
  .brand-signature--vertical-spacing {
    margin: 21.95rem 0 11.25rem 0;
  }
  .brand-signature__logo {
    width: 8.2rem;
    height: 8.3rem;
    background-image: url(/src/assets/svg/brand-signature-logo/brand-signature__logo-82.svg);
  }
  .brand-signature__tagline {
    margin-top: 0.7rem;
  }
  .author-intro {
    margin-bottom: 13.5rem;
  }
  .author-intro__pic {
    height: 52.4rem;
    background-image: url(/src/assets/pics/author-intro/md/author-intro__pic-md-min.webp);
    order: 2;
  }
  .author-intro__name {
    margin-top: 4.5rem;
    font-size: 2.4rem;
  }
  .author-intro__author-role {
    margin-bottom: 2.25rem;
  }
  .author-intro__name,
  .author-intro__author-role,
  .author-intro__text {
    order: 1;
  }
  .author-intro__name,
  .author-intro__author-role {
    text-align: right;
  }
  .brand-promo__text-content {
    margin-bottom: 6.75rem;
  }
  .brand-promo .heading-h1 {
    margin-bottom: 2.25rem;
  }
  .brand-promo__video-poster {
    height: 55.5rem;
    background-image: url(/src/assets/pics/brand-promo__video-poster/md/brand-promo__video-poster-md-min.webp);
  }
  .tutorial-section {
    margin: 13.5rem 0;
    align-items: center;
  }
  .tutorial-section__pic {
    height: 25.7rem;
    margin: 0;
    background-color: transparent;
    background-image: url(/src/assets/pics/homepage-tutorial-section/md/tutorial-section__pic-md-min.webp);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: auto;
  }
  .tutorial-section__content {
    padding: 0;
    color: #3e3e3e;
    grid-row: auto;
  }
  .tutorial-section__content .heading-h2 {
    margin-bottom: 2.25rem;
  }
  .link-btn__svg {
    background-image: url(/src/assets/svg/link-btn/link-btn__svg--standout2.svg);
  }
  .link-btn__text {
    color: #deb374;
  }
  .courses-section {
    align-items: center;
    margin-bottom: 13.5rem;
  }
  .courses-section__pic {
    margin: 0;
    height: 34rem;
    background-image: url(/src/assets/pics/homepage-courses-section/md/courses-section__pic-md-min.webp);
    grid-row: 1;
  }
  .courses-section__content {
    grid-row: 1;
  }
  .courses-section__content .heading-h2,
  .courses-section__text {
    margin-bottom: 2.25rem;
  }
  .separator--homepage {
    display: none;
  }
  .application-form--homepage {
    margin-bottom: 13.5rem;
  }
}
/* Large Screen */
@media only screen and (min-width: 1200px) {
  /* Header */
  .brand-signature--vertical-spacing {
    margin: 25.3rem 0 13.5rem 0;
  }
  .brand-signature__tagline {
    margin-top: 0.8rem;
  }
  .author-intro {
    margin-bottom: 15.75rem;
  }
  .author-intro__pic {
    height: 62.1rem;
    background-image: url(/src/assets/pics/author-intro/lg/author-intro__pic-lg-min.webp);
  }
  .author-intro__name {
    margin-top: 6.75rem;
  }
  .author-intro__author-role {
    margin-bottom: 2.25rem;
  }
  .brand-promo__text-content {
    margin-bottom: 9rem;
  }
  .brand-promo .heading-h1 {
    margin-bottom: 2.25rem;
  }
  .brand-promo__video-poster {
    height: 76.1rem;
    background-image: url(/src/assets/pics/brand-promo__video-poster/lg/brand-promo__video-poster-lg-min.webp);
  }
  .tutorial-section {
    margin: 15.75rem 0;
  }
  .tutorial-section__pic {
    height: 34.9rem;
    background-image: url(/src/assets/pics/homepage-tutorial-section/lg/tutorial-section__pic-lg-min.webp);
  }
  .tutorial-section__content .heading-h2 {
    margin-bottom: 2.25rem;
  }
  .courses-section {
    align-items: center;
    margin-bottom: 15.75rem;
  }
  .courses-section .heading-h2 {
    position: relative;
  }
  .courses-section__content .heading-h2,
  .courses-section__text {
    margin-bottom: 2.25rem;
  }
  .courses-section__line {
    position: absolute;
    top: 50%;
    left: 72%;
    width: 14rem;
    border-bottom: 1px solid #3e3e3e;
  }
  .courses-section__pic {
    height: 34.8rem;
    background-image: url(/src/assets/pics/homepage-courses-section/lg/courses-section__pic-lg-min.webp);
  }
  .application-form--homepage {
    margin-bottom: 15.75rem;
  }
}
/* Extra Large Screen */
@media only screen and (min-width: 1400px) {
  /* Header */
  .brand-signature--vertical-spacing {
    margin: 30.5rem 0 17.5rem 0;
  }
  .brand-signature__tagline {
    margin-top: 0.9rem;
  }
  .author-intro {
    margin-bottom: 17.5rem;
  }
  .author-intro__pic {
    height: 70rem;
    background-image: url(/src/assets/pics/author-intro/xl/author-intro__pic-xl-min.webp);
  }
  .author-intro__name {
    margin-top: 7.5rem;
    font-size: 2.6rem;
  }
  .author-intro__author-role {
    margin-bottom: 2.5rem;
  }
  .brand-promo__text-content {
    margin-bottom: 10rem;
  }
  .brand-promo .heading-h1 {
    margin-bottom: 2.5rem;
  }
  .brand-promo__video-poster {
    background-image: url(/src/assets/pics/brand-promo__video-poster/xl/brand-promo__video-poster-xl-min.webp);
  }
  .tutorial-section {
    margin: 17.5rem 0;
  }
  .tutorial-section__pic {
    height: 39.4rem;
    background-image: url(/src/assets/pics/homepage-tutorial-section/xl/tutorial-section__pic-xl-min.webp);
  }
  .tutorial-section__content .heading-h2 {
    margin-bottom: 2.5rem;
  }
  .courses-section {
    margin-bottom: 17.5rem;
  }
  .courses-section__content .heading-h2,
  .courses-section__text {
    margin-bottom: 2.5rem;
  }
  .courses-section__line {
    left: 86%;
    width: 13rem;
  }
  .courses-section__pic {
    height: 39.2rem;
    background-image: url(/src/assets/pics/homepage-courses-section/xl/courses-section__pic-xl-min.webp);
  }
  .application-form--homepage {
    margin-bottom: 17.5rem;
  }
}
/* Extra Extra Large Screen */
@media only screen and (min-width: 1800px) {
  /* Header */
  .brand-signature--vertical-spacing {
    margin: 34.65rem 0 19.25rem 0;
  }
  .brand-signature__tagline {
    margin-top: 1rem;
  }
  .author-intro {
    margin-bottom: 19.25rem;
  }
  .author-intro__pic {
    height: 69.6rem;
    background-image: url(/src/assets/pics/author-intro/xxl/author-intro__pic-xxl-min.webp);
  }
  .author-intro__name {
    margin-top: 8.25rem;
    font-size: 2.8rem;
  }
  .author-intro__author-role {
    margin-bottom: 2.75rem;
  }
  .brand-promo__text-content {
    margin-bottom: 11rem;
  }
  .brand-promo .heading-h1 {
    margin-bottom: 2.75rem;
  }
  .brand-promo__video-poster {
    height: 101.4rem;
    background-image: url(/src/assets/pics/brand-promo__video-poster/xxl/brand-promo__video-poster-xxl-min.webp);
  }
  .tutorial-section {
    margin: 19.25rem 0;
  }
  .tutorial-section__pic {
    height: 52.7rem;
    background-image: url(/src/assets/pics/homepage-tutorial-section/xxl/tutorial-section__pic-xxl-min.webp);
  }
  .tutorial-section__content .heading-h2 {
    margin-bottom: 2.75rem;
  }
  .courses-section {
    margin-bottom: 19.25rem;
  }
  .courses-section__content .heading-h2,
  .courses-section__text {
    margin-bottom: 2.75rem;
  }
  .courses-section__line {
    left: 100%;
    width: 15rem;
  }
  .courses-section__pic {
    height: 52.5rem;
    background-image: url(/src/assets/pics/homepage-courses-section/xxl/courses-section__pic-xxl-min.webp);
  }
  .application-form--homepage {
    margin-bottom: 19.25rem;
  }
}

/*# sourceMappingURL=home.css.map */
