/* VARIABLES */
/* Font Settings */
/* Standout Colors */
/* Other Colors */
/* Header */
/* MIXINS */
/* VERTICAL SPACING */
.intro-quote {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 2.2rem;
  color: #9c9c9c;
}

.intro-quote--vertical-spacing {
  margin: 13.4rem 0 6rem 0;
}

.manual-section {
  margin-bottom: 3rem;
}

.manual-section__pic {
  margin: 0 -3rem 6rem -3rem;
  height: 24.4rem;
  background-image: url(/src/assets/pics/tutorial-manual-section/xsm/manual-pic-xsm-min.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.manual-section__content .heading-h1 {
  margin-bottom: 3rem;
}

.tutorial-module-links {
  margin: 6rem 0 6rem 0;
}

.tutorial-module-links .text-link a {
  display: block;
  width: fit-content;
  font-size: 2.8rem;
  line-height: 1;
}

.text-link__main {
  text-align: center;
}

.tutorial-module-links .sublink {
  font-size: 1.6rem;
}

.tutorial-about-section {
  margin-bottom: 6rem;
}

.tutorial-about-section h2 {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  order: 1;
}

.tutorial-about-section__text {
  order: 2;
}

.tutorial-about-section__text:first-of-type p:last-child {
  margin-bottom: 3rem;
}

/* Small Screen */
@media only screen and (min-width: 600px) {
  /* Header */
  .intro-quote--vertical-spacing {
    margin: 15rem 0 5rem 0;
  }
  .manual-section {
    margin-bottom: 2.5rem;
  }
  .manual-section__pic {
    margin-bottom: 7.5rem;
    height: 41.7rem;
    background-image: url(/src/assets/pics/tutorial-manual-section/sm/manual-pic-sm-min.webp);
  }
  .manual-section__content .heading-h1 {
    margin-bottom: 2.5rem;
  }
  .tutorial-module-links {
    margin: 7.5rem 0 5rem 0;
  }
  .tutorial-module-links .text-link a {
    font-size: 2.8rem;
  }
  .tutorial-module-links .sublink {
    font-size: 1.6rem;
  }
  .tutorial-about-section {
    margin-bottom: 5rem;
  }
  .tutorial-about-section h2 {
    margin-bottom: 2.5rem;
  }
}
/* Medium Screen */
@media only screen and (min-width: 900px) {
  /* Header */
  .intro-quote {
    padding-left: 2.4rem;
    border-left: 4px solid #f2c47f;
    font-size: 1.8rem;
  }
  .intro-quote--vertical-spacing {
    margin: 17.45rem 0 6.75rem 0;
  }
  .manual-section {
    align-items: center;
    margin-bottom: 4.5rem;
  }
  .manual-section__pic {
    margin: 0;
    height: 23.9rem;
    background-image: url(/src/assets/pics/tutorial-manual-section/md/manual-pic-md-min.webp);
    grid-row: 1;
  }
  .manual-section__content {
    grid-row: 1;
  }
  .manual-section__content .heading-h1 {
    padding: 0;
    border: none;
    margin-bottom: 2.25rem;
  }
  .tutorial-module-links {
    margin: 11.25rem 0 11.25rem 0;
  }
  .tutorial-module-links .text-link a {
    font-size: 3.4rem;
  }
  .tutorial-module-links .sublink {
    font-size: 2.2rem;
  }
  .tutorial-about-section {
    margin-bottom: 6.75rem;
  }
  .tutorial-about-section h2 {
    margin-bottom: 2.25rem;
    font-size: 3rem;
  }
  .tutorial-about-section__text:first-of-type p:last-child {
    margin-bottom: 0;
  }
}
/* Large Screen */
@media only screen and (min-width: 1200px) {
  /* Header */
  .intro-quote--vertical-spacing {
    margin: 20.8rem 0 9rem 0;
  }
  .manual-section {
    margin-bottom: 6.75rem;
  }
  .manual-section__pic {
    height: 32.4rem;
    background-image: url(/src/assets/pics/tutorial-manual-section/lg/manual-pic-lg-min.webp);
  }
  .manual-section__content .heading-h1 {
    margin-bottom: 2.25rem;
  }
  .tutorial-module-links {
    margin: 13.5rem 0 13.5rem 0;
  }
  .tutorial-about-section {
    margin-bottom: 9rem;
  }
  .tutorial-about-section h2 {
    margin-bottom: 2.25rem;
    font-size: 3.2rem;
  }
}
/* Extra Large Screen */
@media only screen and (min-width: 1400px) {
  /* Header */
  .intro-quote {
    font-size: 2rem;
  }
  .intro-quote--vertical-spacing {
    margin: 23rem 0 10rem 0;
  }
  .manual-section {
    margin-bottom: 7.5rem;
  }
  .manual-section__pic {
    height: 36.5rem;
    background-image: url(/src/assets/pics/tutorial-manual-section/xl/manual-pic-xl-min.webp);
  }
  .manual-section__content .heading-h1 {
    margin-bottom: 2.5rem;
  }
  .tutorial-module-links {
    margin: 15rem 0 15rem 0;
  }
  .tutorial-module-links .text-link a {
    font-size: 3.8rem;
  }
  .tutorial-module-links .sublink {
    font-size: 2.4rem;
  }
  .tutorial-about-section {
    margin-bottom: 15rem;
  }
  .tutorial-about-section h2 {
    margin-bottom: 2.5rem;
    font-size: 3.6rem;
  }
}
/* Extra Extra Large Screen */
@media only screen and (min-width: 1800px) {
  /* Header */
  .intro-quote {
    font-size: 2.2rem;
  }
  .intro-quote--vertical-spacing {
    margin: 26.4rem 0 11rem 0;
  }
  .manual-section {
    margin-bottom: 8.25rem;
  }
  .manual-section__pic {
    height: 48.9rem;
    background-image: url(/src/assets/pics/tutorial-manual-section/xxl/manual-pic-xxl-min.webp);
  }
  .manual-section__content .heading-h1 {
    margin-bottom: 2.75rem;
  }
  .tutorial-module-links {
    margin: 16.5rem 0 16.5rem 0;
  }
  .tutorial-module-links .text-link a {
    font-size: 4.2rem;
  }
  .tutorial-module-links .sublink {
    font-size: 2.8rem;
  }
  .tutorial-about-section {
    margin-bottom: 16.5rem;
  }
  .tutorial-about-section h2 {
    margin-bottom: 2.75rem;
    font-size: 4rem;
  }
}

/*# sourceMappingURL=tutorial.css.map */
