/* VARIABLES */
/* Font Settings */
/* Standout Colors */
/* Other Colors */
/* Header */
/* MIXINS */
/* VERTICAL SPACING */
.tutorial-contents__heading {
  margin-top: 13.4rem;
  margin-bottom: 6rem;
}

.tutorial-contents__intro-link {
  margin-bottom: 6rem;
}

.tutorial-contents__section-block {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 6rem;
}

.tutorial-contents__section h3 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 3rem;
}

.tutorial-contents__section ul {
  grid-column-start: 1;
  grid-column-end: 5;
}

.tutorial-contents__section-block:last-of-type,
.tutorial-contents__section hr,
.page-bottom-nav {
  margin-bottom: 6rem;
}

/* Small Screen */
@media only screen and (min-width: 600px) {
  /* Header */
  .tutorial-contents__heading {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }
  .tutorial-contents__intro-link {
    margin-bottom: 5rem;
  }
  .tutorial-contents__section-block {
    grid-column-end: 9;
    margin-bottom: 5rem;
  }
  .tutorial-contents__section h3 {
    grid-column-start: 2;
    grid-column-end: 8;
    margin-bottom: 2.5rem;
  }
  .tutorial-contents__section ul {
    grid-column-start: 2;
    grid-column-end: 8;
  }
  .page-bottom-nav,
  .tutorial-contents__section-block:last-of-type,
  .tutorial-contents__section hr {
    margin-bottom: 5rem;
  }
}
/* Medium Screen */
@media only screen and (min-width: 900px) {
  /* Header */
  .tutorial-contents__heading {
    margin-top: 19.7rem;
    margin-bottom: 9rem;
  }
  .tutorial-contents__intro-link {
    margin-bottom: 6.75rem;
  }
  .tutorial-contents__section-block {
    grid-column-end: 11;
    margin-bottom: 4.5rem;
  }
  .tutorial-contents__section h3 {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 0;
  }
  .tutorial-contents__section ul {
    grid-column-start: 4;
    grid-column-end: 10;
  }
  .tutorial-contents__section-block:last-of-type,
  .tutorial-contents__section hr,
  .page-bottom-nav {
    margin-bottom: 6.75rem;
  }
}
/* Large Screen */
@media only screen and (min-width: 1200px) {
  /* Header */
  .tutorial-contents__heading {
    margin-top: 23.05rem;
    margin-bottom: 11.25rem;
  }
  .tutorial-contents__intro-link {
    margin-bottom: 9rem;
  }
  .tutorial-contents__section-block {
    grid-column-end: 13;
    margin-bottom: 6.75rem;
  }
  .tutorial-contents__section-block:last-of-type,
  .tutorial-contents__section hr,
  .page-bottom-nav {
    margin-bottom: 9rem;
  }
}
/* Extra Large Screen */
@media only screen and (min-width: 1400px) {
  /* Header */
  .tutorial-contents__heading {
    margin-top: 25.5rem;
    margin-bottom: 12.5rem;
  }
  .tutorial-contents__intro-link {
    margin-bottom: 10rem;
  }
  .tutorial-contents__section-block {
    margin-bottom: 7.5rem;
  }
  .tutorial-contents__section-block:last-of-type,
  .tutorial-contents__section hr,
  .page-bottom-nav {
    margin-bottom: 10rem;
  }
}
/* Extra Extra Large Screen */
@media only screen and (min-width: 1800px) {
  /* Header */
  .tutorial-contents__heading {
    margin-top: 29.15rem;
    margin-bottom: 13.75rem;
  }
  .tutorial-contents__intro-link {
    margin-bottom: 11rem;
  }
  .tutorial-contents__section-block {
    margin-bottom: 8.25rem;
  }
  .tutorial-contents__section-block:last-of-type,
  .tutorial-contents__section hr,
  .page-bottom-nav {
    margin-bottom: 11rem;
  }
}

/*# sourceMappingURL=tutorial-contents.css.map */
